body{
    background-color: black;
}
.grid{
    position: absolute;
    width:560px;
    height: 300px;
    border: solid rgb(255, 255, 255) 1px;
    margin-top: 80px;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(89, 27, 204);
    /* left: 50px;
    bottom: 50px; */
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: rgb(178, 149, 233);
    
}

.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
}